<div class="col-md-8">
<p id="notice"><%= notice %></p>
<h1><font size="5">レストラン情報の編集</font></h1>
<%= render 'form' %>
</div>

<div class="col-md-4">
<h1 style= color:white;></h1>
  <div class="panel panel-default">
    <div class="panel-heading"> [PR] オススメBLOG & 人気記事</div>
          <div class="panel-body">
            <a href="http://kazuyonakatani.com/"><img src="http://kazuyonakatani.com/wp/wp-content/uploads/2014/01/Logo_Small.png" width="100%"></a>
       <table>
       <tbody>
            <tr>
              <td><img src="http://i1.wp.com/kazuyonakatani.com/wp/wp-content/uploads/2015/02/Netflix-Logo-e1422876572469.png?zoom=1.5&resize=40%2C40">
              </td>
              <td><%= link_to 'Netflix視聴の75％を支えるオススメ機能の秘密', href="http://kazuyonakatani.com/netflix/" %>
              </td>
            </tr>
            <tr>
            <td><img src="http://i1.wp.com/kazuyonakatani.com/wp/wp-content/uploads/2015/06/NetflixConf.jpg?zoom=1.5&resize=40%2C40">
            </td>
            <td><%= link_to 'フジテレビとの会見にみるNetflixのオリジナルコンテンツ戦略', href="http://kazuyonakatani.com/netflix_cx_original/" %>
            </td>
            </tr>
            <tr>
            <td><img src="http://i2.wp.com/kazuyonakatani.com/wp/wp-content/uploads/2014/05/Mary-Meeker-e1401356001203.jpg?zoom=1.5&resize=40%2C40">
            </td>
            <td><%= link_to '【速報】インターネットの女王Mary Meekerのレポート2015まとめ', href="http://kazuyonakatani.com/marymeeker2015/" %>
            </td>
            </tr>
            <tr>
            <td><img src="http://i1.wp.com/kazuyonakatani.com/wp/wp-content/uploads/2014/02/Fitbit_Nike-Fuelband_Jawbone-UP.png?zoom=1.5&resize=40%2C40">
            </td>
            <td><%= link_to 'ウェアラブル戦争、主力３製品の比較から読みとく、今後のトレンドとは？', href="http://kazuyonakatani.com/wearabledevice_wristband/" %>
            </td>
            </tr>
            <tr>
            <td><img src="http://i1.wp.com/kazuyonakatani.com/wp/wp-content/uploads/2014/05/9137881269_571abbe950_z.jpg?zoom=1.5&resize=40%2C40">
            </td>
            <td><%= link_to '3Dプリンターが飛躍するために克服すべき7つのハードル', href="http://kazuyonakatani.com/3dprinter-opportunities/" %>
            </td>
            </tr>
            </tbody>
            </table>
          </div>
      <div class="panel-heading"> Twitter </div>
          <div class="panel-body">
          <a class="twitter-timeline" href="https://twitter.com/kazuyonakatani" data-widget-id="336018699905556481">Tweets by @kazuyonakatani</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
  </div>
</div>



