<div class="col-md-8">
<p id="notice"><%= notice %></p>

<h1><font size="5">レストラン一覧</font></h1>

    <% @restaurants.each do |restaurant| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= restaurant.title %>
      </div>
        <%= restaurant.tel %>
        <%= restaurant.address %>
        <%= restaurant.web %>
        <%= link_to '詳細', restaurant, class: "btn btn-default btn-xs" %>
        <%= link_to '編集', edit_restaurant_path(restaurant), class: "btn btn-default btn-xs" %>
        <td><%= link_to '削除', restaurant, class: "btn btn-default btn-xs", method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>

<br>

<%= link_to '新規登録', new_restaurant_path, class: "btn btn-default btn-xs" %>
</div>
