<div class="col-md-8">
<p id="notice"><%= notice %></p>

<h1><font size="5">レストラン詳細情報</font></h1>
<p>
  <img src="<%= @restaurant.visual %>" alt="" class="img-responsive user-photo pull-left" width="120" height="120"></td>
</p>

<p>
  <strong>店名:</strong>
  <%= @restaurant.title %>
</p>

<p>
  <strong>平均スコア:</strong>
  <%= @restaurant.average_score_star(@restaurant) %> <%= @score_average %>

</p>

<p>
  <strong>電話番号:</strong>
  <%= @restaurant.tel %>
</p>

<p>
  <strong>住所:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>WEB:</strong>
  <%= @restaurant.web %>
</p>

<%= link_to '編集', edit_restaurant_path(@restaurant), class: "btn active btn-danger btn-s" %>
<%= link_to '戻る', restaurants_path, class: "btn active btn-danger btn-s" %>
<%= link_to 'レビューを書く', new_restaurant_review_path(@restaurant), class: "btn active btn-danger btn-s" %>

<hr>

<h2><font size="4">レビュー一覧</font></h2>
<% @restaurant.reviews.each do |review| %>

  <p>
    スコア：<%= @restaurant.score_star(@restaurant) %> <%= review.score %><br>
    <%= review.body %><br>
    by <%= review.user.email %>さん
  </p>

<% end %>

<hr>

<h2><font size="4">レビュー投稿ユーザー一覧</font></h2>

<% @restaurant.users.each do |user| %>
  <p>
    <%= user.email %>さん
  </p>


<% end %>
