<%= form_for([@restaurant, @review]) do |f| %>
  <div class="form-group">
    <%= f.label :score, 'スコア' %>
    <%= f.number_field :score, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :body, 'レビュー' %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
<%= f.submit %>
<% end %>


<form action="https://checkout.google.com/reviews/merchant/rateMerchantEmail?t=725353880403781&amp;e=f&amp;authTok=ngmT_TMBAAA.JxFTGPYi08eIPfwKQ1XKRA.o_us0iDppmgWEYMod_eSmw" method="POST" name="rateForm"><table><tr><th valign="top" align="left" style="padding-top:6px;"></th></tr>
<tr><td><table cellpadding="2" cellspacing="0"><tr><td><input type="radio" name="ratingIndicator" value="5" id="rating5"></td>
<td><font style="font-family:Arial, sans serif; font-size: 83%"><label for="rating5"><img src="https://checkout.google.com/img/composite-5.gif" alt="5 stars"></label></font></td>
<td>サイコー❤ 絶対にまた行きたい！</td></tr>
<tr><td><input type="radio" name="ratingIndicator" value="4" id="rating4"></td>
<td><font style="font-family:Arial, sans serif; font-size: 83%"><label for="rating4"><img src="https://checkout.google.com/img/composite-4.gif" alt="4 stars"></label></font></td>
<td></td></tr>
<tr><td><input type="radio" name="ratingIndicator" value="3" id="rating3"></td>
<td><font style="font-family:Arial, sans serif; font-size: 83%"><label for="rating3"><img src="https://checkout.google.com/img/composite-3.gif" alt="3 stars"></label></font></td>
<td></td></tr>
<tr><td><input type="radio" name="ratingIndicator" value="2" id="rating2"></td>
<td><font style="font-family:Arial, sans serif; font-size: 83%"><label for="rating2"><img src="https://checkout.google.com/img/composite-2.gif" alt="2 stars"></label></font></td>
<td></td></tr>
<tr><td><input type="radio" name="ratingIndicator" value="1" id="rating1"></td>
<td><font style="font-family:Arial, sans serif; font-size: 83%"><label for="rating1"><img src="https://checkout.google.com/img/composite-1.gif" alt="1 star"></label></font></td>
<td>うーん。。リピはないかな。。</td></tr></table></td></tr>
<tr><td colspan="3"><br>

